<p class="page-title">Content negotiation dimensions</p>

<div class="content-text">
  <div class="page-description">
    <div>
      A content negotiation dimension also known as <b>constraints</b> or
      <b>preferences</b> that denotes the constraints the server took into
      consideration when selecting the best representation. CN dimensions are
      the primary differentiating factor between a set of alternatives. We say
      that two alternative representations vary in accordance with of a CN
      dimension. In each of the dimensions cited below you will find:
    </div>
    <ul>
      <li>A <b>description</b> of the <em>dimension</em>.</li>
      <li>Some references to the pertinent <em>use cases</em>.</li>
      <li>Some <b>examples</b> of the content negotiation process.</li>
      <li>Some relevant <b>references on the state of the art</b>.</li>
    </ul>
  </div>
  <div>
    <h1>Dimensions</h1>
    <ul>
      <li><a routerLink="/dimension/mime">Dimension #1</a>: MIME type.</li>
      <li><a routerLink="/dimension/language">Dimension #2</a>: Language.</li>
      <li><a routerLink="/dimension/encoding">Dimension #3</a>: Encoding.</li>
      <li><a routerLink="/dimension/charset">Dimension #4</a>: Char-set.</li>
      <li>
        <a routerLink="/dimension/capability">Dimension #5</a>: Capability.
      </li>
      <li><a routerLink="/dimension/profile">Dimension #6</a>: Profile.</li>
      <li><a routerLink="/dimension/version">Dimension #7</a>: Version.</li>
      <li><a routerLink="/dimension/accuracy">Dimension #8</a>: Accuracy.</li>
      <li><a routerLink="/dimension/authorization">Dimension #9</a>: Authorization.</li>
      <li><a routerLink="/dimension/crs">Dimension #10</a>: CRS.</li>
      <li><a routerLink="/dimension/entailment-regime">Dimension #11</a>: Entailment Regime.</li>
      <li><a routerLink="/dimension/formatting">Dimension #12</a>: Formatting.</li>
      <li><a routerLink="/dimension/owl-profile">Dimension #13</a>: OWL Profile.</li>
      <li><a routerLink="/dimension/summary">Dimension #14</a>: Summary.</li>
      <li><a routerLink="/dimension/vocabulary">Dimension #15</a>: Vocabulary.</li>
    </ul>
  </div>
</div>
