<p class="page-title">Dimension: CRS</p>

<div class="content-text">
  <div class="usecase-part">
    <div class="title-header-container">
      <span class="title-header">Description</span>
    </div>
    <span>
      Objects on the earth can be located using a coordinate reference system
      (CRS). Different users may be interested in a representation of these
      objects in different systems: a local, regional or global system, for
      example WGS84 or ETRS89.
    </span>
  </div>
  <hr />
  <div class="usecase-part">
    <div class="title-header-container">
      <span class="title-header">Use cases</span>
    </div>
    <span>
      <ul>
        <li>
          <a routerLink="/usecase/crs">CRS.</a>
        </li>
      </ul>
    </span>
  </div>
  <!-- <hr />
  <div class="usecase-part">
    <div class="title-header-container">
      <span class="title-header">Examples</span>
    </div>
    <span>
      As example in the use case
      <a routerLink="/usecase/mfml">Multiple formats and multilingual site.</a>, the
      client ...
    </span>
  </div> -->
  <!-- <div class="reference-container">
    <hr />
    <div class="title-header-container">
      <span class="title-header">References</span>
    </div>
    <div *ngFor="let reference of references">
      <a routerLink="/reference" fragment="{{ reference.id }}" target="_blank"
        >[{{ reference.id }}]</a
      >
      : <span>{{ reference.title }}</span>
    </div>
  </div> -->
  <!-- <hr />
  <div class="footnoot">
    <div class="title-header-container">
      <span class="title-header">Links</span>
    </div>
    <ul>
      <li id="fn-d-capability-1">
        <a
          href="http://nds1.nds.nokia.com/uaprof/N6230ir200.xml"
          target="_blank"
          ><sup>[1]</sup></a
        >
        An example of a Nokia CC/PP file.
        <a
          routerLink="/dimension/capability"
          fragment="fn-d-capability-1-b"
          title="return to text"
          >&#8617;</a
        >
      </li>
    </ul>
  </div> -->
</div>
