<p class="page-title">Content negotiation use cases</p>

<div class="content-text">
  <div class="page-description">
    <span>
      In each of the use cases cited below you will find:
      <ul>
        <li>A <b>description</b> of the <em>use case</em>.</li>
        <li>
          If the use case was inspired from another place some
          <b>references</b> to the primary source.
        </li>
        <li>The <b>requirements</b> extracted from the <em>use case</em>.</li>
        <li>
          If solutions to solve the challenges exists, you would find also a
          solution section, along with relevant <b>references</b> or a
          preliminary solution if it is our idea on how to solve the challenges.
        </li>
      </ul>
    </span>
  </div>
  <div>
    <h1>Use cases</h1>
    <ul>
      <li><a routerLink="/usecase/mfml">Use case #1</a>: Multiple formats and multilingual site.</li>
      <li><a routerLink="/usecase/archive">Use case #2</a>: Archiving versions.</li>
      <li><a routerLink="/usecase/capability">Use case #3</a>: Capability matching.</li>
      <li><a routerLink="/usecase/smart-building">Use case #4</a>: Smart building.</li>
      <li><a routerLink="/usecase/rdf-shape">Use case #5</a>: Negotiation of RDF shapes.</li>
      <li><a routerLink="/usecase/vocabulary">Use case #6</a>: Negotiation of vocabulary.</li>
      <li><a routerLink="/usecase/crs">Use case #7</a>: Coordinate Reference System.</li>
      <li><a routerLink="/usecase/accuracy">Use case #8</a>: Accuracy (precision) of measurements.</li>
      <li><a routerLink="/usecase/formatting">Use case #9</a>: Media formatting.</li>
      <li><a routerLink="/usecase/summary">Use case #10</a>: Content summary.</li>
      <li><a routerLink="/usecase/entailment-regime">Use case #11</a>: Entailment regime.</li>
      <li><a routerLink="/usecase/owl-profile">Use case #12</a>: OWL profiles.</li>
    </ul>
  </div>
</div>
