<p class="page-title">Maintenance</p>

<div class="content-text">
  <span>
    The web application is intended to be maintained and to evolve over time:
  </span>
  <ul>
    <li>
      Maintained by:
      <a href="https://github.com/youctagh" target="_blank">Yousouf TAGHZOUTI</a
      >.
    </li>
    <li>
      You can find a list of past and upcoming updates on the
      <a routerLink="/update">update</a> page.
    </li>
    <li>
      To contribute, please refer to the
      <a routerLink="/contribute">contribution</a> page.
    </li>
  </ul>
  <span>
    For sustainability reasons, a <a href="http://wummel.github.io/linkchecker/">broken link checker</a> 
    is used periodically to scans the website and
    discover URIs that are not dereferenceable.
  </span>
</div>
