<p class="page-title">Methodology</p>

<div class="content-text">
  <!-- <div class="class-diagram">
    <h1>Class diagram</h1>
    <img src="./assets/img/class-diagram.png" alt="Class Diagram" />
  </div> -->
  <div class="action-plan">
    <h1>Action Plan</h1>
    <p>To create this resource we followed this action plan:</p>

    <ul>
      <li>
        Define a content negotiation <b>use case</b>: title, description and
        challenges.
      </li>
      <li>
        Extract from the <b>use case</b> content negotiation <b>dimensions</b>,
        <b>style</b>
      </li>
      <li>
        Gather <b>references</b> of materials: <em>articles</em>,
        <em>technical reports</em>, <em>documentations of implementation</em>,
        <em>empirical study</em>. That tried to tackle some aspect of the use
        case, the search is done using
        <sup
          ><a routerLink="/methodology" fragment="methodology-footnote-1"
            >[1]</a
          ></sup
        >,
        <sup
          ><a routerLink="/methodology" fragment="methodology-footnote-2"
            >[2]</a
          ></sup
        >,
        <sup
          ><a routerLink="/methodology" fragment="methodology-footnote-3"
            >[3]</a
          ></sup
        >.
      </li>
      <li>
        Extract the <b>solutions</b> if any that are proposed in the
        <b>references</b>
      </li>
      <li>
        To confirm validity and reliability:
        <ul>
          <li>
            As selection criteria, privilege references with higher citation
            number because it indicates relevance .
          </li>
          <li>Discuss with supervisors and colleagues.</li>
          <li>
            Collect and analyze peer feedback sent through the feedback form.
          </li>
        </ul>
      </li>
    </ul>
    <hr />
    <p id="methodology-footnote-1">
      [1]:
      <a href="https://scholar.google.com/" target="_blank">Google Scholar.</a>
    </p>
    <p id="methodology-footnote-2">
      [2]:
      <a href="https://dblp.org/" target="_blank"
        >The DBLP Computer Science Bibliography.</a
      >
    </p>
    <p id="methodology-footnote-3">
      [3]:
      <a href="https://www.semanticscholar.org/" target="_blank"
        >Semantic Scholar.</a
      >
    </p>
  </div>
</div>
