<p class="page-title">Dimension: Entailment Regime</p>

<div class="content-text">
  <div class="usecase-part">
    <div class="title-header-container">
      <span class="title-header">Description</span>
    </div>
    <span>
      Various W3C standards, including RDF and OWL, provide semantic
      interpretations for RDF graphs that allow additional RDF statements to be
      inferred from explicitly given assertions. An entailment regime specifies
      how an entailment relation can be used to redefine the evaluation of basic
      graph patterns from a SPARQL query using the SPARQL extension point for
      basic graph patterns matching. A user may want to request data that
      conforms to a shape but after using a specific entailment relationship,
      such as an RDF Schema or RIF entailment.
    </span>
  </div>
  <hr />
  <div class="usecase-part">
    <div class="title-header-container">
      <span class="title-header">Use cases</span>
    </div>
    <span>
      <ul>
        <li>
          <a routerLink="/usecase/entailment-regime">Entailment Regime.</a>
        </li>
      </ul>
    </span>
  </div>
  <!-- <hr />
  <div class="usecase-part">
    <div class="title-header-container">
      <span class="title-header">Examples</span>
    </div>
    <span>
      As example in the use case
      <a routerLink="/usecase/mfml">Multiple formats and multilingual site.</a>, the
      client ...
    </span>
  </div> -->
  <!-- <div class="reference-container">
    <hr />
    <div class="title-header-container">
      <span class="title-header">References</span>
    </div>
    <div *ngFor="let reference of references">
      <a routerLink="/reference" fragment="{{ reference.id }}" target="_blank"
        >[{{ reference.id }}]</a
      >
      : <span>{{ reference.title }}</span>
    </div>
  </div> -->
  <hr />
  <div class="footnoot">
    <div class="title-header-container">
      <span class="title-header">Links</span>
    </div>
    <ul>
      <li>
        <a
          href="https://www.w3.org/TR/sparql11-entailment/"
          target="_blank"
          rel="noopener noreferrer"
          >SPARQL entailment</a
        >
      </li>
      <li>
        <a
          href="https://www.w3.org/ns/entailment/"
          target="_blank"
          rel="noopener noreferrer"
          >Entailment</a
        >
      </li>
    </ul>
  </div>
</div>
