<p class="page-title">Content negotiation Constraint Conveyance</p>

<div class="content-text">
  <div class="page-description">
    <div>
      In a content negotiation process, the client must transmit to the server
      the negotiation dimension as well as its value to be considered for the
      process of selecting the best variant to provide. Two main techniques have
      emerged and are widely used to perform the transmission of constraints:
      The <em>HTTP headers</em> and the <em>URL</em> based approaches. The following
      subsections describe each of these two techniques. In each of the
      conveyance techniques cited below you will find:
    </div>
    <ul>
      <li>A <b>description</b> of the <em>CC</em> technique.</li>
      <li>Some <b>examples</b> of the technique.</li>
      <li>Some relevant <b>references on the state of the art</b>.</li>
    </ul>
  </div>
  <div>
    <h1>Constraint Conveyance</h1>
    <ul>
      <li><a routerLink="/cc/header">CC #1</a>: Headers.</li>
      <li><a routerLink="/cc/url">CC #2</a>: URL.</li>
    </ul>
  </div>
</div>
