<p class="page-title">Dimension: Char-Set</p>

<div class="content-text">
  <div class="usecase-part">
    <div class="title-header-container">
      <span class="title-header">Description</span>
    </div>
    <span>
      Before that <b>UTF-8</b> became widely supported, the user was able to
      negotiate the character encoding it supports but now a days it is no
      longer the case. In HTTP the user was expressing it using the
      <em>Accept-Charset</em> header.
      
    </span>
  </div>
  <!-- <hr />
  <div class="usecase-part">
    <div class="title-header-container">
      <span class="title-header">Use cases</span>
    </div>
    <span>
      <ul>
        <li>
          <a routerLink="/usecase/mfml">Multiple formats and multilingual site.</a>
        </li>
      </ul>
    </span>
  </div>
  <hr />
  <div class="usecase-part">
    <div class="title-header-container">
      <span class="title-header">Examples</span>
    </div>
    <span>
      As example in the use case
      <a routerLink="/usecase/mfml">Multiple formats and multilingual site.</a>, the
      client sends the request:

      <div class="code-area">
        curl --location --request GET 'www.museum.example.com/artwork/45' \
        --header 'Accept: text/html;q=0.9, image/png;q=0.7,image/svg+xml;q=0.8'
      </div>
      And the server answer with the response:
      <div class="code-area">
        HTTP/1.1 200 OK <br />
        Content-Type: text/html <br />
        Vary: Accept <br />
        Content-Length: 2487 ...
      </div>
    </span>
  </div> -->
  <hr />
  <div class="usecase-part">
    <div class="title-header-container">
      <span class="title-header">References</span>
    </div>
    <span>
      <ul>
        <li><a routerLink="">[1]</a>: HTTP 1.1 content negotiation.</li>
      </ul>
    </span>
  </div>
  <!-- <hr />
  <div class="footnoot">
    <ul>
      <li id="fn-d-mime-1">
        <a
          href="https://www.iana.org/assignments/media-types/media-types.xhtml"
          target="_blank"
          ><sup>[1]</sup></a
        >
        List of Media Types.
        <a routerLink="/dimension/mime" fragment="fn-d-mime-1-b" title="return to text"
          >&#8617;</a
        >
      </li>
    </ul>
  </div> -->
</div>
