<p class="page-title">Dimension: OWL Profile</p>

<div class="content-text">
  <div class="usecase-part">
    <div class="title-header-container">
      <span class="title-header">Description</span>
    </div>
    <span>
      Ontologies are formalized vocabularies of terms, often covering a specific
      domain and shared by a community of users. They specify definitions of
      terms by describing their relationships to other terms in the ontology in
      order to make Web content more machine-readable. An OWL 2 profile is a
      reduced version of OWL 2 that trades some expressive power for reasoning
      efficiency. For this reason, users may wish to request an ontology in a
      specific OWL profile, e.g. OWL 2 EL or OWL 2 QL.
    </span>
  </div>
  <hr />
  <div class="usecase-part">
    <div class="title-header-container">
      <span class="title-header">Use cases</span>
    </div>
    <span>
      <ul>
        <li>
          <a routerLink="/usecase/owl-profile">OWL Profile.</a>
        </li>
      </ul>
    </span>
  </div>
  <!-- <hr />
  <div class="usecase-part">
    <div class="title-header-container">
      <span class="title-header">Examples</span>
    </div>
    <span>
      As example in the use case
      <a routerLink="/usecase/mfml">Multiple formats and multilingual site.</a>, the
      client ...
    </span>
  </div> -->
  <!-- <div class="reference-container">
    <hr />
    <div class="title-header-container">
      <span class="title-header">References</span>
    </div>
    <div *ngFor="let reference of references">
      <a routerLink="/reference" fragment="{{ reference.id }}" target="_blank"
        >[{{ reference.id }}]</a
      >
      : <span>{{ reference.title }}</span>
    </div>
  </div> -->
  <hr />
  <div class="footnoot">
    <div class="title-header-container">
      <span class="title-header">Links</span>
    </div>
    <ul>
      <li>
        <a href="https://www.w3.org/TR/2012/REC-owl2-overview-20121211/" target="_blank" rel="noopener noreferrer">OWL2 overview</a>        
      </li>
      <li>
        <a href="https://www.w3.org/TR/owl2-profiles/" target="_blank" rel="noopener noreferrer">OWL2 profiles</a>        
      </li>
    </ul>
  </div>
</div>
