<p class="page-title">A portal for the state of the art of content negotiation</p>

<div class="content-text">
  <div class="title-header-container">
    <span class="title-header">Abstract</span>
  </div>
  <span>
    On the Web, it is possible to make a resource available using a uniform
    resource identifier (URI). This resource can have several representations
    described in different ways along a set of dimensions, forming a set of
    variants. Content negotiation (CN) is the mechanism for selecting the
    appropriate variant that conforms to a set of preferences (constraints).
    Over the years, various dimensions of CN, styles of CN, as well as ways to
    convey constraints have emerged to satisfy new requirements and solve new
    use cases. However, searching and finding these CN features and grouping or
    categorising them to classify and compare them to their predecessors for
    example is still a missing piece in the literature. This paper presents a
    new resource called Content Negotiation Theoretical Framework (CNTF). CNTF a
    website that collects and categorises CN features into different groups:
    styles, dimensions, etc. CNTF aims to collect use cases of CN, highlight
    existing solutions if available, or suggest plausible ways to advance them.
    CNTF also provides an ontology describing its content, and is also intended
    to be used to disseminate our new proposals for advancing CN, making it a
    sustainable and up-to-date digital survey of CN.
  </span>

  <!-- <div class="title-header-container">
    <span class="title-header">Introduction</span>
  </div>
  <span>
    Content negotiation has a pivotal role in the world wide web, and has done
    so since the early days, as the negotiation layer is a key element of the W3
    architecture ...
  </span> -->
</div>
