<p class="page-title">Home</p>

<div class="content-text">
  <div class="title-header-container">
    <span class="title-header">Abstract</span>
  </div>
  <span>
    Content negotiation refers to the practice of making available multiple
    representations via the same Uniform Resource Identifier (URI). Negotiation
    between the requesting agent and the server determines which representation
    is served with the goal of serving the "best" representation a receiving
    agent can process. Hypertext Transfer Protocol (HTTP) is an example of a
    protocol that enables representation providers to use content negotiation.
    Over the years, many approaches and techniques have been proposed to enhance
    this mechanism. However, analysing each approach to test its effectiveness
    and grouping or categorising them to rank and compare them to their
    predecessors, usually involves tedious research as well as considerable time
    to perform functional implementations to test them. This paper presents a
    new resource called <b>CNTF</b>. The
    <b>C</b>ontent <b>N</b>egotiation <b>T</b>heoretical <b>F</b>ramework
    (CNTF) is a website that collects, categorises, links, and displays these
    approaches in a digestible way after examining, comparing, and highlighting
    existing solutions or suggesting plausible ways to advance them.
  </span>

  <!-- <div class="title-header-container">
    <span class="title-header">Introduction</span>
  </div>
  <span>
    Content negotiation has a pivotal role in the world wide web, and has done
    so since the early days, as the negotiation layer is a key element of the W3
    architecture ...
  </span> -->
</div>
