.content-text{
    font-size: 1.5rem;
    margin: 16px;
    line-height: 1.2em;
}
.title-header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
  }
.title-header {
    padding: 8px;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: rgb(202, 223, 146);
    color: rgb(110, 110, 110);
  }