<p class="page-title">Content negotiation styles</p>

<div>
  We use CN style to denote a particular manner or technique by which the
  content negotiation process is carried out. This includes how the negotiation
  is conducted and which of the content negotiation parties makes the choice of
  which variant to select. In our study, we identified six CN styles:
  <b>proactive</b>, <b>reactive</b>, <b>transparent</b>, <b>active</b>,
  <b>conditional</b>, <b>adaptive</b>.
</div>

<div class="content-text">
  <div class="page-description">
    <span>
      In each of the styles cited below you will find:
      <ul>
        <li>A <b>description</b> of the <em>style</em>.</li>
        <li>
          An <b>example</b> of content negotiation using that <em>style</em>.
        </li>
        <!-- <li>The <b>use cases</b> using that <em>style</em>.</li> -->
        <li>
          A list of <b>advantages</b> and <b>disadvantages</b> of that
          <em>style</em>.
        </li>
        <li>
          Relevant <b>references</b> where the style was introduced or
          mentioned.
        </li>
      </ul>
    </span>
  </div>
  <div>
    <h1>Styles</h1>
    <ul>
      <li><a routerLink="/style/proactive">Style #1</a>: Proactive.</li>
      <li><a routerLink="/style/reactive">Style #2</a>: Reactive.</li>
      <li><a routerLink="/style/transparent">Style #3</a>: Transparent.</li>
      <li><a routerLink="/style/conditional">Style #4</a>: Conditional.</li>
      <li><a routerLink="/style/active">Style #5</a>: Active.</li>
      <li><a routerLink="/style/adaptive">Style #6</a>: Adaptive.</li>
    </ul>
  </div>

  <!-- <div>
    <h1>Storage and Delivery of the resource</h1>
    <h2>Internal based storage</h2>
    <span>
      Return a navigation IRIs inside the resource to navigate to similar
      resources, for example using an ontology description as <sup>[1]</sup>.</span
    >
    <h2>External based storage</h2>
    <span>
      The server indicate to the user that multiple variants exists and
      additional actions must be taken to fulfil the re-quest, using for example
      HTTP we sent a 300 or 303 response code with a list of alternative
      resources using the link relation type<sup>[2]</sup>.
    </span>
    <h1>Constraints conveyance</h1>
    <span>How and why</span>
    <h2>Headers</h2>
    <h2>IRI link in a header ex: Accept-Profile</h2>
    <h2>Base64 in URL</h2>
    <h2>URL parameters</h2>
    <h2>Body of request</h2>
    <h1>Protocol of negotiation</h1>
    <h2>HTTP</h2>
    <h2>MQTT</h2>
    <h2>COAP</h2>
    <h2>P2P</h2>
    <h2>OAuth</h2>
    <span>Gnap</span>
    <hr />
    <ul>
      <li><sup>[1]</sup> : <a href="">YODA</a>.</li>
      <li>
        <sup>[2]</sup> : <a routerLink="">The <em>profile</em> Link Relation Type</a>.
      </li>
    </ul>
  </div> -->
</div>
