<p class="page-title">Contribution</p>

<div class="content-text">
  <p>
    Please note that all contributions are welcomed as long as they follow the
    same structure. Contributions can include but are not limited to:
  </p>

  <ul>
    <li>A content negotiation use case.</li>
    <li>A new identified content negotiation dimension.</li>
    <li>A requirement not being identified by the author.</li>
    <li>Any kind of identified errors.</li>
  </ul>

  <p>
    Contributions could be send via an email to: <a href="mailto:yousouf.taghzouti@emse.f?subject=Conneg-tf contribution">yousouf.taghzouti@emse.fr</a>,
    object of the email should start with <b>conneg-tf contribution</b>.
  </p>
  <p>
    Issues can also be reported via the project's <a [href]="createIssue()" target="_blank">github</a> page.
  </p>
</div>
